@use "../abstracts";
.hero {
  &__media {
    width: 100%;
    @include abstracts.screen(md) {
      display: none;
    }
  }
  &__img {
    width: 100%;
  }
  &__row {
    padding: 30px 0;
    align-items: center;
    background-image: url(../image/thumb/backgroundform.jpg);
  }
}
.formbooking {
  position: relative;
  background: #eee;
  padding: 20px;
  &__inner {
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  &__title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: blue;
  }
  &__item {
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    height: 30px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    &--icon1 {
      color: #56c441;
      &::before {
        content: "\f21d";
      }
    }
    &--icon2 {
      color: red;
      &::before {
        content: "\f3c5";
      }
    }
  }
  &__input {
    width: 100%;
    outline: none;
    border: none;
    background: none;
  }
  &__submit {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
